In [97]:
# Standard imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [98]:
heart_disease = pd.read_csv("heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [99]:
# Create X (features matrix)
x = heart_disease.drop("target", axis=1)

# Create y (labels)
y = heart_disease["target"]

In [112]:
# 2. Choose the right model and hyperparameters
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=100)

In [113]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test= train_test_split(x,y,test_size=.1)

In [114]:
clf.fit(x_train, y_train);

In [115]:
y_preds = clf.predict(x_test)

In [116]:
clf.score(x_train, y_train)

1.0

In [118]:
clf.score(x_test, y_test)

0.8387096774193549

In [120]:
# from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

# print(classification_report(y_test, y_preds))

from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
print(classification_report(y_test,y_preds))

              precision    recall  f1-score   support

           0       0.81      0.87      0.84        15
           1       0.87      0.81      0.84        16

    accuracy                           0.84        31
   macro avg       0.84      0.84      0.84        31
weighted avg       0.84      0.84      0.84        31

In [121]:
confusion_matrix(y_test, y_preds)

array([[13,  2],
       [ 3, 13]], dtype=int64)

In [122]:
accuracy_score(y_test,y_preds)

0.8387096774193549

In [123]:
# 5. Improve a model
# Try different amount of n_estimators
np.random.seed(42)


for i in range(10, 100, 10):
    print(f"Trying model with {i} estimators...")
    clf = RandomForestClassifier(n_estimators=i).fit(x_train, y_train)
    print(f"Model accuracy on test set: {clf.score(x_test, y_test) * 100:.2f}%")
    print("")

Trying model with 10 estimators...
Model accuracy on test set: 80.65%

Trying model with 20 estimators...
Model accuracy on test set: 83.87%

Trying model with 30 estimators...
Model accuracy on test set: 83.87%

Trying model with 40 estimators...
Model accuracy on test set: 83.87%

Trying model with 50 estimators...
Model accuracy on test set: 83.87%

Trying model with 60 estimators...
Model accuracy on test set: 83.87%

Trying model with 70 estimators...
Model accuracy on test set: 83.87%

Trying model with 80 estimators...
Model accuracy on test set: 83.87%

Trying model with 90 estimators...
Model accuracy on test set: 80.65%

In [124]:
import pickle

pickle.dump(clf, open("random_forst_model_1.pkl", "wb"))

In [125]:
loaded_model = pickle.load(open("random_forst_model_1.pkl", "rb"))
loaded_model.score(x_test, y_test)

0.8064516129032258